<div class="container d-flex justify-content-center align-items-center mb-3">
  <div class="row w-100">
    <div class="main">
      <h1 class="text-center mb-3 mt-5">Login</h1>
      <form class="col-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-text-input [formControlName]="'userName'" label="Username">
        </app-text-input>
        <app-text-input
          [formControlName]="'password'"
          [label]="'Password'"
          [type]="'password'"
        >
        </app-text-input>
        @if (serverValidationErrors()) {
          <div class="alert alert-danger text-start mt-2">
            <ul>
                <li>{{serverValidationErrors()}}</li>
            </ul>
          </div>
        }
        <div class="d-flex justify-content-center align-items-center">
          <button
            [disabled]="!loginForm.valid"
            type="submit"
            class="button mt-5"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
