@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap');

/* .main {
    height: 100vh;
} */
.hero {
    height: 60vh;
    border-bottom: 2px solid var(--primary-color);
}
.profile-img {
    width: 11rem;
    height: 11rem;
    border: 6px solid var(--secondary-color);
    border-radius: 50%;
}
.profile-username {
    font-family: 'Playfair Display', serif;
}
.profile-intro {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 16px;
    max-width: 60%;
}
